body {
	animation-play-state: running;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; 
	-webkit-animation: fadein 2s;
	-moz-animation: fadein 2s;
	-ms-animation: fadein 2s;
	-o-animation: fadein 2s;
	animation: fadein 2s;
	font-family: material;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}
@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.well-install {
	border-radius: 0px;
	background-color: white;
	border: 0px;
	margin-top: 20px;
}

.table-chmod {
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.alert-chmod {
	font-family: material;
	border-radius: 0px;
	border: 0px;
	background-color: #16a085;
}

.alert-animated {
	transition: 2s;
	animation:alert-animated 2s ease-in-out infinite; 
}

.alert-animated:hover {
	transform: scale(1.05);
	transition: 2s;
	animation-play-state: running;
}

.h1-title-animated {
	-webkit-animation: pop 7s infinite; /* Chrome, Safari, Opera */
	animation: pop 7s infinite;
}

@keyframes pop {
	0%   {}
	20%  {font-size: 39px;}
	40%  {font-size: 35px;}
	60% {font-size: 39px;}
	80% {font-size: 35px;}
	100% {font-size: 39px;}
}

.btn-installation {
	padding: 10px;
	border: 0px;
	border-radius: 2px;
	font-size: 25px;
	font-family: material;
	max-width: 700px;
	width: 100%;
	transition: 1s;
}

.btn-installation:hover {
	transition: 1s;
	transform: scale(1.05);
}

.multistep .multistep-step {
	padding: 0;
	position: relative;
	margin-bottom: 10px;
}

.multistep .multistep-step .multistep-stepname {
	margin-bottom: 16px;
	color: #595959;
	font-size: 1.6rem;
	white-space: nowrap;
}

.multistep .multistep-step .multistep-dot {
	position: absolute;
	right: 50%;
	left: 50%;
	width: 32px;
	height: 32px;
	display: block;
	margin-top: -16px;
	margin-left: -15.5px;
	border-radius: 50%;
	background: #f5f5f5;
	/* Inner Dot */
}

.multistep .multistep-step .multistep-dot:after {
	content: ' ';
	border-radius: 50px;
	position: absolute;
	top: 8px;
	bottom: 8px;
	left: 8px;
	right: 8px;
	background: #e0e0e0;
}

.multistep .multistep-step .progress {
	position: absolute;
	width: 100%;
	height: 10.56px;
	margin-top: -5.28px;
	box-shadow: none;
	border-radius: 0;
}

.multistep .multistep-step .progress .progress-bar {
	width: 0px;
	box-shadow: none;
	background: #fbe8aa;
}

.multistep .multistep-step:first-child > .progress {
	left: 50%;
	width: 50%;
}

.multistep .multistep-step:last-child > .progress {
	width: 50%;
}

.multistep .multistep-step.complete .multistep-dot {
	background: #fbe8aa;
}

.multistep .multistep-step.complete .multistep-dot:after {
	background: #fbbd19;
}

.multistep .multistep-step.complete .progress > .progress-bar {
	width: 100%;
}

.multistep .multistep-step.next:hover .multistep-dot {
	background: #fbe8aa;
}

.multistep .multistep-step.next:hover .multistep-dot:after {
	background: #fbbd19;
}

.multistep .multistep-step.current .multistep-dot {
	background: #fbe8aa;
}

.multistep .multistep-step.current .multistep-dot:after {
	background: #fbbd19;
}

.multistep .multistep-step.current .progress > .progress-bar {
	width: 50%;
}

.multistep .multistep-step.current:first-child > .progress > .progress-bar {
	width: 0%;
}

.multistep .multistep-step.current:last-child > .progress > .progress-bar {
	width: 100%;
}

.multistep .multistep-step a.multistep-dot {
	pointer-events: none;
}

.multistep .multistep-step.next a.multistep-dot {
	pointer-events: all;
}

.p-install {
	background-color: #16a085;
	margin-right: -19px;
	margin-left: -19px;
	color: white;
	padding: 5px;
}

.p-install-form {
	background-color: #16a085;
	margin-right: -19px;
	margin-left: -19px;
	margin-bottom: -19px;
	color: white;
	padding: 20px;
}

.footer {
	background-color: white;
	text-align: center;
	margin-right: -19px;
	margin-left: -19px;
	font-size: 17px;
	height: 50px;
	padding: 25px;
}

.form-install {
	border-radius: 0px;
	border: 0px;
	transition: 0.5s;
}

.form-install:hover {
	transition: 0.5s;
	transform: scale(1.03) rotate(1deg);
}

.btn-valider {
    background-color: #2c3e50;
    margin-top: 25px;
    padding: 5px;
    max-width: 550px;
}
